# SERVER 
PORT=server_port

# DATABASE
DATABASE_USERNAME=db_name
DATABASE_PASSWORD=db_pw
DATABASE_NAME=db_name
DATABASE_HOST=db_host
DATABASE_PORT=db_post

# SOCKET
SOCKET_PORT=socket_port

# REDIS
REDIS_HOST=redis_host
REDIS_PORT=redis_port
TIME_EXPIRED_ONE_DAY=time_expired

# JWT
JWT_ACCESSKEY=jwt_key
JWT_ACCESSKEY_EXPIRE=jwt_expire_time
JWT_REFRESHKEY=jwt_refresh_key

# GOOGLE_OAUTH
GOOGLE_CLIENT_ID=google_client_id
GOOGLE_CLIENT_SECRET=google_client_secret
