@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Balsamiq+Sans:wght@700&family=Cherry+Bomb+One&family=Coiny&family=Lilita+One&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem2;

    --play-window-width: calc(1366px * 1);
    --play-window-height: calc(760px * 1);
    --ranking-board-width: calc(330px * 1);
    --canvas-width: calc(760px * 1);
    --canvas-height: calc(390px * 1);
    --tool-section-width: calc(158px * 1);
    --chat-content-heigth: calc(154px * 1);

    --bg-color: #22a699;
    --color-gray-cc: #cccccc;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }

  body .react-colorful {
    width: auto;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .cursor-pencil {
    cursor: url("./shared/assets/icons/cursor/pencil.svg"), auto;
  }

  .cursor-eraser {
    cursor:
      url("./shared/assets/icons/cursor/eraser.svg") 2 22,
      auto;
  }

  .cursor-cross {
    cursor:
      url("./shared/assets/icons/cursor/cross.svg") 10 10,
      auto;
  }

  .cursor-bucket {
    cursor: url("./shared/assets/icons/cursor/bucket.svg"), auto;
  }

  .cursor-picker {
    cursor:
      url("./shared/assets/icons/cursor/picker.svg") 2 22,
      auto;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

@layer components {
  .slogan-width {
    @apply w-[300px];
  }

  .slogan-responsive {
    @apply max-md:hidden;
  }

  .home-content-responsive {
    @apply max-lg:flex-col md:gap-24 max-md:mt-10;
  }
}

#main-layout {
  background-image: url("./shared/assets/bg.png");
}

#interval-layout{
  background-image: url("./shared/assets/logo-no-background.png");
}
