name: Deploy project

on:
  push:
    branches:
      - main
      - deploy

jobs:
  frontend-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/setting-ssh-to-host
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY_FRONTEND }}
          ssh-username: ubuntu
          ssh-host: ec2-52-221-195-133.ap-southeast-1.compute.amazonaws.com

      - uses: ./.github/actions/frontend-build
        with:
          variables-env: ${{ secrets.FRONTEND_ENV }}

      - uses: ./.github/actions/sync-source-to-host
        with:
          ssh-username: ubuntu
          ssh-host: ec2-52-221-195-133.ap-southeast-1.compute.amazonaws.com
          source-folder: ./frontend/dist
          destination-folder: /var/www/highlight-io.xyz/html

  backend-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/setting-ssh-to-host
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY_BACKEND }}
          ssh-username: ubuntu
          ssh-host: ec2-13-215-153-89.ap-southeast-1.compute.amazonaws.com

      - uses: ./.github/actions/sync-source-to-host
        with:
          ssh-username: ubuntu
          ssh-host: ec2-13-215-153-89.ap-southeast-1.compute.amazonaws.com
          source-folder: ./backend
          destination-folder: /home/ubuntu/

      - uses: ./.github/actions/backend-build
        with:
          variables-env: ${{ secrets.BACKEND_ENV }}
